# tests
pytest==8.3.2
# formatter, linter, imports sorter
ruff==0.5.7
# pre-commit
pre-commit==3.8.0
# DEV deps
python-telegram-bot
sqlalchemy
openai
json_repair
requests
asyncpg
loguru
fastapi
pydantic-settings
gunicorn
uvicorn
langchain
langchain-openai